<!DOCTYPE html>
<html>
<head>
  <title>Pjax</title>
  <%= javascript_include_tag 'application'%>
</head>
<body>
  <h1>Pjax Practice</h1>
  <div class="container" id="pjax-container">
    <%= yield %>
  </div>
  <script>
    $(document).on('ready pjax:end', function () {
      $(document).pjax('a', '#pjax-container')
    });
  </script>
</body>
</html>
